html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
    color: white;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}
.iconBg{
    background-color: #07caf0;
}
#secondImgCard {
    height: 190.69px;
}